In [1]:
#A pivot table is used to automatically categorize and display summarized results
#in any of its three viewing areas, namely rows, columns or layers. 
#A pivot table is a useful and convenient tool to reorganize the information in a data table,
#generate cross tabulations or to show correlations.

In [2]:
import pandas as pd

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\acer\\DATA_SCIENCE'

In [5]:
os.chdir('E:\Dataframes_csvFiles')

In [6]:
os.getcwd()

'E:\\Dataframes_csvFiles'

In [7]:
df=pd.read_csv('weather_of_cities.csv')

In [8]:
df

         day      city  temperature  windspeed   event
0   1/1/2020  new york           32        6.0    rain
1   1/2/2020  new york           36        7.0   sunny
2   1/3/2020  new york           28        3.2    snow
3   1/4/2020  new york           33        7.0   sunny
4   1/1/2020    mumbai           30        5.0   sunny
5   1/2/2020    mumbai           33        5.2     fog
6   1/3/2020    mumbai           27        5.5     fog
7   1/4/2020    mumbai           32        3.0    rain
8   1/1/2020     paris           43       20.0   sunny
9   1/2/2020     paris           50       18.0  cloudy
10  1/3/2020     paris           54        8.0  cloudy
11  1/4/2020     paris           42       50.0  cloudy

In [10]:
#first parameter -index -is for rows
#second parameter -columns- is for columns
df.pivot(index="day",columns="city")

         temperature                windspeed                 event           \
city          mumbai new york paris    mumbai new york paris mumbai new york
day
1/1/2020          30       32    43       5.0      6.0  20.0  sunny     rain
1/2/2020          33       36    50       5.2      7.0  18.0    fog    sunny
1/3/2020          27       28    54       5.5      3.2   8.0    fog     snow
1/4/2020          32       33    42       3.0      7.0  50.0   rain    sunny


city       paris
day
1/1/2020   sunny
1/2/2020  cloudy
1/3/2020  cloudy
1/4/2020  cloudy

In [11]:
#first parameter -index -is for rows
#second parameter -columns- is for columns
df.pivot(index="city",columns="day")

         temperature                            windspeed                    \
day         1/1/2020 1/2/2020 1/3/2020 1/4/2020  1/1/2020 1/2/2020 1/3/2020
city
mumbai            30       33       27       32       5.0      5.2      5.5
new york          32       36       28       33       6.0      7.0      3.2
paris             43       50       54       42      20.0     18.0      8.0

                     event
day      1/4/2020 1/1/2020 1/2/2020 1/3/2020 1/4/2020
city
mumbai        3.0    sunny      fog      fog     rain
new york      7.0     rain    sunny     snow    sunny
paris        50.0    sunny   cloudy   cloudy   cloudy

In [12]:
#first parameter -index -is for rows
#second parameter -columns- is for columns
df.pivot(index="day",columns="city",values="temperature")

city      mumbai  new york  paris
day
1/1/2020      30        32     43
1/2/2020      33        36     50
1/3/2020      27        28     54
1/4/2020      32        33     42

In [1]:
#error : Index contains duplicate entries, cannot reshape
df.pivot(index="event",columns="city")

NameError: name 'df' is not defined

In [16]:
#error :Index contains duplicate entries, cannot reshape
df.pivot(index="windspeed",columns="city")

ValueError: Index contains duplicate entries, cannot reshape